@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: 'Inter', sans-serif;
  display: block;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social-profile-card {
  width: 24rem;
  height: 38rem;
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.8rem;
}

.social-card-content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.profile-photo {
  height: 14rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-photo img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background-color: burlywood;
  margin-bottom: 1.5rem;
}

.profile-photo h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.profile-photo p {
  color: hsl(75, 94%, 57%);
  font-size: 0.8rem;
  font-weight: 600;
}

.biography {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.biography p {
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
}

.social-links {
  height: 18rem;
}

.social-links ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-links ul a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.8rem 0;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
}

.social-links ul a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
} */

html {
  height: 100%;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center; /*horizontal*/
  align-items: center; /*vertically*/
}

.social-profile-card {
  background-color: hsl(0, 0%, 12%);
  height: 38rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-info img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.profile-info h1 {
  color: hsl(0, 0%, 100%);
}

.profile-info p {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}
